<div class="chat-body textFielddemoBasicUsage">
  <md-content md-theme="blue">
    <form ng-submit="formSubmit()">
        <div class="row">
          <md-text-float label="Chat Room Name" ng-model="chatInfo.chatRoomName" class="long"></md-text-float>
          <md-button class="md-raised md-primary">Generate</md-button>
        </div>
          <md-text-float label="Display Name" ng-model="chatInfo.displayName" class="long"></md-text-float>
          <md-text-float label="Duration" ng-model="chatInfo.duration" class="long"></md-text-float>
          <md-text-float label="Max Number of Participants" ng-model="chatInfo.maxParticipant" class="long"></md-text-float>
          <md-text-float label="Password" type="password" ng-model="chatInfo.password" class="long"></md-text-float>
          <md-button class="md-raised md-primary">Submit</md-button>
    </form>
  </md-content>
</div>
