.container {
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.chat-body, .form-body {
  background-color: #ffffff;
  padding: 20px;
  width: 450px;
  margin: 0 auto;
  align: center;
}

.page-body {
  width: 100%;
}

body {
  background-color: #ffffff;
  overflow: hidden;
}

form {
  padding-left: 2%;
}

.chat-room-page {
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

.textFielddemoBasicUsage form > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -8px;
}

.textFielddemoBasicUsage .row > * {
  font-size: inherit;
  margin-left: 8px;
  margin-right: 8px;
}

.textFielddemoBasicUsage md-input-group.long > input {
  width: 264px;
}

.md-tile-content {
  padding: 5px;
}

.element {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.element {
  overflow: -moz-scrollbars-none;
}
