<div md-theme="blue">
  <md-tabs class="md-accent" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      Create Chat
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Join Chat Room
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content" ng-disabled="data.thirdLocked">
      {{data.thirdLabel}}
    </md-tab>
  </md-tabs>
  <ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
      <create-chat-room></create-chat-room>
    </div>
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
      <join-chat-room></join-chat-room>
    </div>
    <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
      <chat-room></chat-room>
    </div>
  </ng-switch>
</div>
