<div class="chat-body textFielddemoBasicUsage">
  <md-content md-theme="blue">
    <div class="chat-room-page">
      <md-list>
        <md-item ng-repeat="message in messages track by $index" id="{{$index}}">
          <md-item-content style="padding-top: 5px">
            <div class="md-tile-content" style="background-color: deepskyblue;">
              <div>
                <h4>{{message.message}}</h4>
              </div>
              <p style="font-size: 0.5em; text-align: right">{{message.displayName}}</p>
              <p style="font-size: 0.3em; text-align: right">{{message.date}}</p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </div>
  </md-content>
  <md-content>
    <form ng-submit="postMessage()">
      <div class="row focusMe">
        <md-text-float focus-on="message-submitted" label="Message" ng-model="message" class="long"></md-text-float>
        <md-button class="md-raised md-primary">Send</md-button>
      </div>
    </form>
  </md-content>
</div>
